#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Install Nested Gamescope Session
Exec=sh -c "curl https://sugoidogo.github.io/gamescope-session-nested/gsn-install.sh | bash"
Icon=steamdeck-gaming-return
Terminal=true
TerminalOptions=\s--noclose
Type=Application
StartupNotify=false